<tr>
    <td>{{ parameter.name }}</td>
    <td>{{ parameter.location ?: '-' }}</td>
    <td>{{ parameter.type ?: '-' }}</td>
    <td>{{ parameter.isRequired ? 'Yes' : 'No' }}</td>
    <td>{{ parameter.description ?: '-' }}</td>
    <td>{{ parameter.default ?: '-' }}</td>
    <td>{{ parameter.format ?: '-' }}</td>
    <td>{{ parameter.sample ?: '-' }}</td>
</tr>