<tr>
    {% autoescape false %}
    <td>{{ indent }}{{ property.name }}</td>
    {% endautoescape %}
    <td>{{ property.type ?: '-' }}</td>
    <td>{{ property.description ?: '-' }}</td>
    <td>{{ property.default ?: '-' }}</td>
    <td>{{ property.format ?: '-' }}</td>
    <td>{{ property.sample ?: '-' }}</td>
</tr>