<tr>
    {% autoescape false %}
    <td>{{ indent }}{{ property.name }}</td>
    {% endautoescape %}
    <td>{{ property.type ?: 'n/a' }}</td>
    <td>{{ property.description ?: 'n/a' }}</td>
    <td>{{ property.default ?: 'n/a' }}</td>
    <td>{{ property.format ?: 'n/a' }}</td>
    <td>{{ property.sample ?: 'n/a' }}</td>
</tr>